<p>----------------------------------------------------------------------------------<br />
Node is Managed by Puppet Server: puppetmaster.example.com
<br />----------------------------------------------------------------------------------<br />
Welcome to host     : <%=@hostname%>
<br />My IP Deatils : <%=@ipaddress%><br />
OperatingSystem     : <%=@operatingsystem%><br />
OS Family           : <%=@osfamily%>;
<br />Running Since : <%=@uptime%>
<br />My DNS Name   : <%=@fqdn%></p>
